@model IEnumerable<phanmemtinhhaophi.Models.Vattu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vật Tư</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Mavattu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tenvattu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quycach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Donvitinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dongia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Mavattu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tenvattu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quycach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Donvitinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dongia)
        </td>
        <td>
            
            @Html.ActionLink("Delete", "Delete", new {  id=item.Mavattu  })
        </td>
    </tr>
}

</table>
